node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
uploads/ios/
android/
*.xcworkspace
*.xcodeproj
xcuserdata/
*.gradle
.gradle/
build/
.DS_Store
*.iml
local.properties
.idea/
.settings/
.project
.classpath
