modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:1.0.0", "javascript_database:1.0.0", "javascript_openai_ai_integrations:2.0.0", "github:1.0.0"]

[userenv]

[userenv.shared]
APP_URL = "https://ultimatefitnesschallenge.com"
VITE_GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""

[userenv.development]
VITE_GOOGLE_CLIENT_ID = "389653262932-o11o8g7cv616b3svs0i3h9idkgu3bho7.apps.googleusercontent.com"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
