<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>389653262932-gdto1rrot9gae98tqdevti0a5meo0gee.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCo_rxspWtZSb83_5kv63vIb29zQyHik34</string>
	<key>GCM_SENDER_ID</key>
	<string>389653262932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fayaflex.app</string>
	<key>PROJECT_ID</key>
	<string>fayaflex-d3e0f</string>
	<key>STORAGE_BUCKET</key>
	<string>fayaflex-d3e0f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389653262932:ios:f9047c56cd551f91cdb3c1</string>
</dict>
</plist>